In [ ]:
import pandas as pd
file_path = 'results/test_12-10.csv'
parameter_ds = pd.read_csv(file_path)

In [11]:
# Fix Dataset types
parameter_ds['position'] = parameter_ds['position'].astype('string')
parameter_ds['amt_num_features'] = parameter_ds['amt_num_features'].astype('string')
parameter_ds['stratify_by'] = parameter_ds['stratify_by'].astype('string')

In [20]:
gk_dataset = parameter_ds[parameter_ds['position'] == 'GK']

## Window Size

In [49]:
mse_stats = gk_dataset.groupby('window_size')['train_mse'].describe().drop(columns=['count'])
mae_stats = gk_dataset.groupby('window_size')['train_mae'].describe().drop(columns=['count'])
mse_stats[''] = ' ' 
pd.concat([mse_stats, mae_stats], axis=1, keys=["Train MSE", "Train MAE"])

            Train MSE                                                    \
                 mean       std       min       25%       50%       75%
window_size
3            5.055243  0.418736  3.970815  4.836717  5.062906  5.258406
6            5.054582  0.313396  4.469944  4.812043  5.058750  5.333787
9            4.846749  0.408674  4.005741  4.590133  4.771649  5.110443

                         Train MAE                                          \
                  max         mean       std       min       25%       50%
window_size
3            6.028269     1.466852  0.111082  1.168217  1.420155  1.460819
6            5.754553     1.461828  0.084947  1.311946  1.403874  1.468006
9            5.894292     1.426286  0.110472  1.202941  1.336849  1.409262


                  75%       max
window_size
3            1.525769  1.694407
6            1.514752  1.628427
9            1.509182  1.689058

In [48]:
mse_stats = gk_dataset.groupby('window_size')['val_mse'].describe().drop(columns=['count'])
mae_stats = gk_dataset.groupby('window_size')['val_mae'].describe().drop(columns=['count'])

mse_stats[''] = ' ' 
pd.concat([mse_stats, mae_stats], axis=1, keys=["Validation MSE", "Validation MAE"])

            Validation MSE                                                    \
                      mean       std       min       25%       50%       75%
window_size
3                 5.284164  0.843527  3.505840  4.937179  5.292939  5.657498
6                 5.093716  0.775022  3.646077  4.603325  5.264263  5.635928
9                 5.226010  0.948057  2.996010  4.742250  5.273367  5.879063

                         Validation MAE                                \
                  max              mean       std       min       25%
window_size
3            7.391860          1.505356  0.180147  1.100407  1.408873
6            6.647926          1.486130  0.183414  1.143319  1.352063
9            7.044342          1.503440  0.215153  1.083265  1.325029


                  50%       75%       max
window_size
3            1.511199  1.604859  1.933588
6            1.498924  1.617699  1.857692
9            1.528118  1.644193  1.899004

In [ ]:
mse_stats = gk_dataset.groupby('window_size')['test_mse'].describe().drop(columns=['count'])
mae_stats = gk_dataset.groupby('window_size')['test_mae'].describe().drop(columns=['count'])
mse_stats[''] = ' ' 

pd.concat([mse_stats, mae_stats], axis=1, keys=["Test MSE", "Test MAE"])

             Test MSE                                                    \
                 mean       std       min       25%       50%       75%
window_size
3            5.256858  0.726017  3.606210  4.849460  5.262904  5.589139
6            4.951255  0.770423  3.599025  4.408609  4.939512  5.375854
9            5.300317  0.984858  3.566411  4.483535  5.215420  6.081821

                          Test MAE                                          \
                  max         mean       std       min       25%       50%
window_size
3            6.505518     1.489878  0.170376  1.141382  1.372436  1.492272
6            6.596437     1.444583  0.192479  1.132858  1.319878  1.429016
9            7.366353     1.527842  0.245698  1.062478  1.333885  1.501834


                  75%       max
window_size
3            1.627799  1.774716
6            1.602257  1.839748
9            1.693672  2.074292

A window of **size 6** has the best **test** and **validation** results.

Confidence of **60%**

## Number of Nodes in the Dense Layer

In [50]:
mse_stats = gk_dataset.groupby('num_dense')['train_mse'].describe().drop(columns=['count'])
mae_stats = gk_dataset.groupby('num_dense')['train_mae'].describe().drop(columns=['count'])
mse_stats[''] = ' ' 
pd.concat([mse_stats, mae_stats], axis=1, keys=["Train MSE", "Train MAE"])

          Train MSE                                                    \
               mean       std       min       25%       50%       75%
num_dense
64         4.961629  0.419490  3.970815  4.785158  4.955632  5.168936
128        5.020943  0.372591  4.376969  4.751753  4.998130  5.227508
256        4.974002  0.391760  4.084364  4.698311  5.054552  5.222302

                       Train MAE                                          \
                max         mean       std       min       25%       50%
num_dense
64         6.028269     1.440095  0.106668  1.168217  1.397823  1.430832
128        5.894292     1.464063  0.099281  1.318594  1.403031  1.443269
256        5.836437     1.450809  0.105990  1.203199  1.381075  1.471342


                75%       max
num_dense
64         1.505232  1.694407
128        1.537791  1.689058
256        1.530936  1.668706

In [51]:
mse_stats = gk_dataset.groupby('num_dense')['val_mse'].describe().drop(columns=['count'])
mae_stats = gk_dataset.groupby('num_dense')['val_mae'].describe().drop(columns=['count'])

mse_stats[''] = ' ' 
pd.concat([mse_stats, mae_stats], axis=1, keys=["Validation MSE", "Validation MAE"])

          Validation MSE                                                    \
                    mean       std       min       25%       50%       75%
num_dense
64              5.318232  0.889552  3.218104  4.881791  5.275345  5.812846
128             5.107922  0.849879  2.996010  4.626624  5.310580  5.643007
256             5.177736  0.832708  3.679349  4.807754  5.191211  5.539098

                       Validation MAE                                          \
                max              mean       std       min       25%       50%
num_dense
64         7.391860          1.519161  0.191590  1.088098  1.405356  1.528118
128        6.596677          1.486876  0.200269  1.083265  1.338884  1.525201
256        7.111339          1.488889  0.187425  1.159584  1.352063  1.482875


                75%       max
num_dense
64         1.639323  1.899004
128        1.648229  1.873962
256        1.586792  1.933588

In [52]:
mse_stats = gk_dataset.groupby('num_dense')['test_mse'].describe().drop(columns=['count'])
mae_stats = gk_dataset.groupby('num_dense')['test_mae'].describe().drop(columns=['count'])
mse_stats[''] = ' ' 

pd.concat([mse_stats, mae_stats], axis=1, keys=["Test MSE", "Test MAE"])

           Test MSE                                                    \
               mean       std       min       25%       50%       75%
num_dense
64         5.292875  0.903829  3.599025  4.667448  5.332735  6.081786
128        5.123454  0.778615  3.606210  4.523752  5.105406  5.647205
256        5.092100  0.847285  3.566411  4.535102  5.095075  5.602962

                        Test MAE                                          \
                max         mean       std       min       25%       50%
num_dense
64         7.366353     1.518893  0.233740  1.148355  1.349242  1.532812
128        6.933908     1.477121  0.193227  1.157221  1.328125  1.464680
256        6.649564     1.466288  0.190943  1.062478  1.346797  1.448509


                75%       max
num_dense
64         1.657031  2.074292
128        1.612601  1.849296
256        1.602137  1.867766

**256 nodes** in the dense layer has the best results.

Confidence of **80%**

## Tolerance

In [56]:
mse_stats = gk_dataset.groupby('tolerance')['train_mse'].describe().drop(columns=['count'])
mae_stats = gk_dataset.groupby('tolerance')['train_mae'].describe().drop(columns=['count'])
mse_stats[''] = ' ' 
pd.concat([mse_stats, mae_stats], axis=1, keys=["Train MSE", "Train MAE"])

          Train MSE                                                    \
               mean       std       min       25%       50%       75%
tolerance
0.000001   4.962759  0.422954  4.005741  4.707256  4.916325  5.204182
0.000100   5.008290  0.361414  3.970815  4.782747  5.048267  5.246828

                       Train MAE                                          \
                max         mean       std       min       25%       50%
tolerance
0.000001   6.028269     1.448066  0.109793  1.202941  1.388473  1.425899
0.000100   5.754553     1.455245  0.097758  1.168217  1.403110  1.467053


                75%       max
tolerance
0.000001   1.523768  1.694407
0.000100   1.511093  1.647087

In [57]:
mse_stats = gk_dataset.groupby('tolerance')['val_mse'].describe().drop(columns=['count'])
mae_stats = gk_dataset.groupby('tolerance')['val_mae'].describe().drop(columns=['count'])

mse_stats[''] = ' ' 
pd.concat([mse_stats, mae_stats], axis=1, keys=["Validation MSE", "Validation MAE"])

          Validation MSE                                                    \
                    mean       std       min       25%       50%       75%
tolerance
0.000001        5.190116  0.834326  2.996010  4.791577  5.277474  5.707851
0.000100        5.212477  0.881298  3.218104  4.721040  5.275345  5.713817

                       Validation MAE                                          \
                max              mean       std       min       25%       50%
tolerance
0.000001   7.111339          1.497961  0.184883  1.083265  1.379994  1.523153
0.000100   7.391860          1.498656  0.200465  1.088098  1.345703  1.511199


                75%       max
tolerance
0.000001   1.635907  1.933588
0.000100   1.616196  1.876457

In [58]:
mse_stats = gk_dataset.groupby('tolerance')['test_mse'].describe().drop(columns=['count'])
mae_stats = gk_dataset.groupby('tolerance')['test_mae'].describe().drop(columns=['count'])
mse_stats[''] = ' ' 

pd.concat([mse_stats, mae_stats], axis=1, keys=["Test MSE", "Test MAE"])

           Test MSE                                                    \
               mean       std       min       25%       50%       75%
tolerance
0.000001   5.225471  0.873219  3.566411  4.551918  5.159787  6.039395
0.000100   5.113482  0.812923  3.835450  4.525897  5.100559  5.559651

                        Test MAE                                          \
                max         mean       std       min       25%       50%
tolerance
0.000001   6.933908     1.489566  0.216755  1.062478  1.331214  1.487907
0.000100   7.366353     1.485303  0.197152  1.132858  1.357106  1.464680


                75%       max
tolerance
0.000001   1.665036  1.931357
0.000100   1.630548  2.074292

In [ ]:
The tolerance of **0.000100** aka **1x10^-2**
Confidence of **55%**